.mana ***REMOVED***
    background-image: url("/mana.svg");
    background-repeat: no-repeat;
    background-size: auto 700%;
    display: inline-block;
***REMOVED***
.mana.small ***REMOVED***
    height: 1em;
    width: 1em;
***REMOVED***
.mana.medium ***REMOVED***
    height: 2em;
    width: 2em;
***REMOVED***
.mana.large ***REMOVED***
    height: 4em;
    width: 4em;
***REMOVED***
.mana.s0 ***REMOVED*** background-position: 0 0; ***REMOVED***
.mana.s1 ***REMOVED*** background-position: 11.1% 0; ***REMOVED***
.mana.s2 ***REMOVED*** background-position: 22.2% 0; ***REMOVED***
.mana.s3 ***REMOVED*** background-position: 33.3% 0; ***REMOVED***
.mana.s4 ***REMOVED*** background-position: 44.4% 0; ***REMOVED***
.mana.s5 ***REMOVED*** background-position: 55.5% 0; ***REMOVED***
.mana.s6 ***REMOVED*** background-position: 66.6% 0; ***REMOVED***
.mana.s7 ***REMOVED*** background-position: 77.7% 0; ***REMOVED***
.mana.s8 ***REMOVED*** background-position: 88.8% 0; ***REMOVED***
.mana.s9 ***REMOVED*** background-position: 99.9% 0; ***REMOVED***

.mana.s10 ***REMOVED*** background-position: 0 16%; ***REMOVED***
.mana.s11 ***REMOVED*** background-position: 11.1% 16.6%; ***REMOVED***
.mana.s12 ***REMOVED*** background-position: 22.2% 16.6%; ***REMOVED***
.mana.s13 ***REMOVED*** background-position: 33.3% 16.6%; ***REMOVED***
.mana.s14 ***REMOVED*** background-position: 44.4% 16.6%; ***REMOVED***
.mana.s15 ***REMOVED*** background-position: 55.5% 16.6%; ***REMOVED***
.mana.s16 ***REMOVED*** background-position: 66.6% 16.6%; ***REMOVED***
.mana.s17 ***REMOVED*** background-position: 77.7% 16.6%; ***REMOVED***
.mana.s18 ***REMOVED*** background-position: 88.8% 16.6%; ***REMOVED***
.mana.s19 ***REMOVED*** background-position: 99.9% 16.6%; ***REMOVED***

.mana.s20 ***REMOVED*** background-position: 0 33%; ***REMOVED***
.mana.sx ***REMOVED*** background-position: 11.1% 33.3%; ***REMOVED***
.mana.sy ***REMOVED*** background-position: 22.2% 33.3%; ***REMOVED***
.mana.sz ***REMOVED*** background-position: 33.3% 33.3%; ***REMOVED***
.mana.sw ***REMOVED*** background-position: 44.4% 33.3%; ***REMOVED***
.mana.su ***REMOVED*** background-position: 55.5% 33.3%; ***REMOVED***
.mana.sb ***REMOVED*** background-position: 66.6% 33.3%; ***REMOVED***
.mana.sr ***REMOVED*** background-position: 77.7% 33.3%; ***REMOVED***
.mana.sg ***REMOVED*** background-position: 88.8% 33.3%; ***REMOVED***
.mana.ss ***REMOVED*** background-position: 99.9% 33.3%; ***REMOVED***

.mana.swu ***REMOVED*** background-position: 0 50%; ***REMOVED***
.mana.swb ***REMOVED*** background-position: 11.1% 50%; ***REMOVED***
.mana.sub ***REMOVED*** background-position: 22.2% 50%; ***REMOVED***
.mana.sur ***REMOVED*** background-position: 33.3% 50%; ***REMOVED***
.mana.sbr ***REMOVED*** background-position: 44.4% 50%; ***REMOVED***
.mana.sbg ***REMOVED*** background-position: 55.5% 50%; ***REMOVED***
.mana.srw ***REMOVED*** background-position: 66.6% 50%; ***REMOVED***
.mana.srg ***REMOVED*** background-position: 77.7% 50%; ***REMOVED***
.mana.sgw ***REMOVED*** background-position: 88.8% 50%; ***REMOVED***
.mana.sgu ***REMOVED*** background-position: 99.9% 50%; ***REMOVED***

.mana.s2w ***REMOVED*** background-position: 0 66.6%; ***REMOVED***
.mana.s2u ***REMOVED*** background-position: 11.1% 66.6%; ***REMOVED***
.mana.s2b ***REMOVED*** background-position: 22.2% 66.6%; ***REMOVED***
.mana.s2r ***REMOVED*** background-position: 33.3% 66.6%; ***REMOVED***
.mana.s2g ***REMOVED*** background-position: 44.4% 66.6%; ***REMOVED***
.mana.swp ***REMOVED*** background-position: 55.5% 66.6%; ***REMOVED***
.mana.sup ***REMOVED*** background-position: 66.6% 66.6%; ***REMOVED***
.mana.sbp ***REMOVED*** background-position: 77.7% 66.6%; ***REMOVED***
.mana.srp ***REMOVED*** background-position: 88.8% 66.6%; ***REMOVED***
.mana.sgp ***REMOVED*** background-position: 99.9% 66.6%; ***REMOVED***

.mana.st ***REMOVED*** background-position: 0% 83.3%; ***REMOVED***
.mana.sq ***REMOVED*** background-position: 11.1% 83.3%; ***REMOVED***

.mana.sc ***REMOVED*** background-position: 77.7% 83.3%; ***REMOVED***

.mana.se ***REMOVED*** background-position: 88.8% 83.3%; ***REMOVED***

.mana.s1000000 ***REMOVED*** background-position: 0 100%; ***REMOVED***
.mana.s1000000.small ***REMOVED*** width: 4.9em; ***REMOVED***
.mana.s1000000.medium ***REMOVED*** width: 9.7em; ***REMOVED***
/*.mana.s1000000.large ***REMOVED*** width: 18.8em; ***REMOVED****/
.mana.s100 ***REMOVED*** background-position: 60% 100%; ***REMOVED***
.mana.s100.small ***REMOVED*** width: 1.8em; ***REMOVED***
.mana.s100.medium ***REMOVED*** width: 3.7em; ***REMOVED***
/*.mana.s100.large ***REMOVED*** width: 10.8em; ***REMOVED****/
.mana.schaos ***REMOVED*** background-position: 76.5% 100%; ***REMOVED***
.mana.schaos.small ***REMOVED*** width: 1.2; ***REMOVED***
.mana.schaos.medium ***REMOVED*** width: 2.3em; ***REMOVED***
/*.mana.sc.large ***REMOVED*** width: 4.6em; ***REMOVED****/
.mana.shw ***REMOVED*** background-position: 83.5% 100%; ***REMOVED***
.mana.shw.small ***REMOVED*** width: 0.5em; ***REMOVED***
.mana.shw.medium ***REMOVED*** width: 1em; ***REMOVED***
/*.mana.shw.large ***REMOVED*** width: 2em; ***REMOVED****/
.mana.shr ***REMOVED*** background-position: 89% 100%; ***REMOVED***
.mana.shr.small ***REMOVED*** width: 0.5em; ***REMOVED***
.mana.shr.medium ***REMOVED*** width: 1em; ***REMOVED***
/*.mana.shr.large ***REMOVED*** width: 2em; ***REMOVED****/


.shadow ***REMOVED***
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=-1, OffY=1, Color='#000')";
    filter: url(#shadow);
    -webkit-filter: drop-shadow(-1px 1px 0px #000);
    filter: drop-shadow(-1px 1px 0px #000);
***REMOVED***
