body {
    background-color: darkslategrey;
}

.mana-cost {
    display: inline-block;
    position: relative;
    top: 2px;
    padding: 1px;
}

.card-image {
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
    border-radius: 4.75% / 3.5%;
    display: inline-grid;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.break-text {
    display: block;
}

.inline-text {
    display: inline-block;
    padding-right: 5px;
    padding-left: 2px;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80%;
    }
}